#soma{
    background-color: crimson;
    height: 300px;
    width: 100px;
    border-left: 0px;
}

#menos{
    background-color:  greenyellow;
    height: 300px;
    width: 100px;
    float: left;
    border-right: 0px;
}

#numb0{
    background-color: lightblue;
    width: 75%;
    margin-left: 12.5%;
    height: 50px;
    margin-top: 50%;
    color: black;
    font-size: large;
    text-align: center;
    padding-top: 30px;
    border-radius: 25px;

}
.container{
    margin-left: 35%;
    margin-top: 10%;
    width: 500px;
    height: 100px;
    
}

.tela{
    background-color: whitesmoke;
    height: 298px;
    width: 200px;
    display: block;
    margin-top: 0px;
    float: left;
    border: 1px solid black;
}